{% extends "base.html" %}

{% block content %}
    <div class="columns">
        <div class="text column-2" style="white-space: pre-wrap;">
            <div class="toolbar">
                <input type="submit" form="update-form" value="Update" onclick="transferEditedText()" class="update btn">
                <a href="/save-file" class="btn-link"><button class="btn">Save File</button></a>
                <a href="/logout" class="btn-link"><button class="btn">Upload New File</button></a>
            </div>
            <p contenteditable="True" id="text" class="transcription">{{ text | safe}}</p>
            <form action="/file-parser" id="update-form" method="POST" class="hidden-form">
                <textarea name="text" id="text-form" cols="30" rows="10" style="display: none;"></textarea>
            </form>
        </div>
        {%if errors_exist == true %}
            <div class="parser-result column-2">
                <h3 class="column-title section-header">Errors:</h3>
                <ul class="error-list">
                {% for error in error_list %}
                    <li id = "Error-{{loop.index0}}" onclick="highlightErrorToggle(this.id)" class="error-item">
                    {% if error[1] == 0 %}
                        Error: expected '{{error[2]}}' got '{{error[3]}}' instead. Position: {{error[0]}}
                    {% elif error[1] == 1 %}
                        Error: opening tag '{{error[2]}}' at position {{error[0]}} was never closed
                    {% elif error[1] == 2 %}
                        Error: Closing tag '{{error[2]}}' at position {{error[0]}} was never opened:
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {%- if converted_text != false -%}
        <div class="converted-text column-2">
            {{converted_text | safe}}
        </div>
        {%- endif -%}
    </div>
{% endblock %}